body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  flex-shrink: 1;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.todaysDate{
  color: red;
  font-size: 30px;
  font-weight: bold;
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

#textAreaPastMinus1, #textAreaPastMinus2, #textAreaPastMinus3{
  background-color:lightgray;
  border: groove;
}
#textAreaPresent{
  background-color: palevioletred;
  border: groove;
}
#textAreaFuture1, #textAreaFuture2, #textAreaFuture3, #textAreaFuture4, #textAreaFuture5,
#textAreaFuture6, #textAreaFuture7, #textAreaFuture8{
  background-color:lightgreen;
  border: groove;
}

.time{

background-color: lightgrey;
width: 75px;
padding: 20px;
border: groove;

}

#savepresent, #saveplus1,#saveplus2,#saveplus3,#saveplus4,
#saveplus5,#saveplus6,#saveplus7, #saveplus8,
#saveminus3, #saveminus2, #saveminus1{

background-color: lightskyblue;
width: 40px;
padding-right: 40px;
border-style: groove;
}

input{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;
font-weight: bold;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  flex: 1 1 1px ;
}

input {
  background-color: whitesmoke;
  border-radius: 3px;
  border-width: 1px;
  color: #5f6368;
  font-size: 1.1em;
  
  line-height: 20px;
  margin: 0;
  
  max-width: 100%;
  padding: 0px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 978px;
  height: 75px;
  flex: 1 1 1px ;
}




footer {display: flex;
  justify-content: space-between;;
  background-color: white;  
  background-size: cover;
  bottom: 0; 
  width: 100%;
  margin-top: 30px;
  height: 150px;
}   
footer a{

  font-size: xx-small;
  color: wheat;
}   


