body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.todaysDate{
  color: red;
  font-size: 30px;
  font-weight: bold;
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

#textAreaPast{
  background-color:lightgrey;
  border: groove;
}
#textArea{
  background-color: palevioletred;
  border: groove;
}
#textAreaFuture{
  background-color:lightgreen;
  border: groove;
}

.time{

  background-color: lightgrey;
width: 75px;
padding: 20px;
border: groove;
}

#save{

  background-color: lightskyblue;
width: 40px;
padding-right: 40px;
border-style: groove;
}

.form-control{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;
font-weight: bold;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}



footer {display: flex;
  justify-content: space-between;;
  background-color: white;  
  background-size: cover;
  bottom: 0; 
  width: 100%;
  margin-top: 30px;
  height: 150px;
}      
